{% extends "layout.html" %}
{% block content %}
    {% for activity in activities %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + activity.author.image_file) }}">
              <div class="media-body">
                <div class="article-metadata">
                  <!-- <span>{{ activity.category }}</span> -->
                  Posted by:  <a class="mr-2" href="#">{{ activity.author.username }}</a>
                  <small class="text-muted">{{ activity.date_posted.strftime('%Y-%m-%d') }}</small>

                </div>
                <h2><a class="article-title" href="{{ url_for('activity', activity_id=activity.id) }}">{{ activity.title }}</a></h2>
                <small>Category:  <span>{{ activity.category }}</span></small><br>
                <a href='{{ activity.link }}' target="_blank">Activity Link</a>
                <p class="article-content">{{ activity.description }}</p>
              </div>
            </article>
    {% endfor %}
{% endblock content %}